<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calendar grid</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/global.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/init.js"></script>
    <script src="/site.js"></script>
  </head>
  <body>

  </body>
</div>
