<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amber Levine</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/global.css">
    <script src="/jquery-1.8.3.min.js"></script>
    <script src="/init.js"></script>
  </head>
  <body>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <div class="heading">
      <a href="#menu" class="menu-link">Menu</a>
      <nav id="menu" role="navigation">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Article</a></li>
          <li><a href="#">Browse</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li class="theme-toggle">
            <a href="#" class="theme-label">Select Theme</a>
            <span class="theme-icon"></span>
            <div class="theme-container">
              <div class="theme-popover-border-arrow"></div>
              <div class="theme-popover-arrow"></div>
              <div class="theme-popover">
                <div class="themes"> 
                  <p class="metro">Metro</p>
                  <p class="portfolio">Portfolio</p>
                  <p class="business">Business</p>
                  <p class="studio">Studio</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <div class="logo">
        <h1>CoreDesign<span class="domain">com</span></h1>
      </div>
    </div>
    <div class="grid">
      <div class="ad-3-4">

        <div class="scheduleContainer">
          <h2 class="contentTitle">Body Back Drop-In Class</h2>
          <p class="scheduleDescription">Body Back Drop-In class is a full body high intensity interval workout. Perfect as a Body Back maintenance class, or supplement to your Body Back or Stroller Strides routine. You do not have to be a current or past Body back member to take this class. This is a child free workout.</p>

          <ul class="scheduleItems">
            <li>
              <div class="scheduleHeading">
                <p class="location">4S Ranch</p>
              </div>
              <div class="scheduleDetails">
                <span class="plus-icon"></span><p class="title">Family Karate Studio <span>Schedule</span></p>
                <table class="scheduleTable">
                  <tbody>
                    <tr>
                      <th class="time" scope="row">5:45a</th>
                      <td class="days">Fri</td>
                    </tr>
                  </tbody>
                </table>
                <p class="enrollBtn">
                  <a class="button" href="#">Enroll</a>
                </p>
              </div>
            </li>
            <li>
              <div class="scheduleHeading">
                <p class="location">Mission Hills</p>
              </div>
              <div class="scheduleDetails">
                <span class="plus-icon"></span><p class="title">Presidio Park <span>Schedule</span></p>
                <table class="scheduleTable">
                  <tbody>
                    <tr>
                      <th class="time" scope="row">9:30a</th>
                      <td class="days">Mon, Wed, and Fri</td>
                    </tr>
                  </tbody>
                </table>
                <p class="enrollBtn">
                  <a class="button" href="#">Enroll</a>
                </p>
              </div>
            </li>
            <li>
              <div class="scheduleHeading">
                <p class="location">San Diego</p>
              </div>
              <div class="scheduleDetails">
                <span class="plus-icon"></span><p class="title">Point Loma Liberty Station <span>Schedule</span></p>
                <table class="scheduleTable">
                  <tbody>
                    <tr>
                      <th class="time" scope="row">7:30a</th>
                      <td class="days">Sun</td>
                    </tr>
                  </tbody>
                </table>
                <p class="enrollBtn">
                  <a class="button" href="#">Enroll</a>
                </p>
              </div>
            </li>
          </ul>
        </div> <!-- end of scheduleContainer -->
      </div> 
      <div class="ad-1-4">
        <div class="line-separator"></div>
        <div class="login-container">
          <div class="avatar-container">
            <img class="avatar" src="login.png"/>
          </div>
          <p>Signed in as</p>
          <p class="name">Bruce Wayne</p>
        </div>
        <div class="line-separator"></div>
        <!--<div class="ad2">
          <p>Ad</p>
        </div> -->
        <div class="ad1">
          <p>Ad</p>
        </div>
        <div class="line-separator"></div>
        <div class="ad1">
          <p>Ad</p>
        </div>
        <div class="line-separator"></div>
        <div class="calendar-feature">

          <table class="calendar-f">
            <caption>
              <span class="prev"></span>
              <span class="next"></span>
              January 2013
            </caption>
            <thead>
              <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="off">30</td>
                <td class="off">31</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
              </tr>
              <tr>
                <td>6</td>
                <td class="select">7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
              </tr>
              <tr>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
              </tr>
              <tr>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
              </tr>
              <tr>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td class="off">1</td>
                <td class="off">2</td>
              </tr>
            </tbody>
          </table>
          <div class="cal-list">
            <ul>
              <li class="list-date">Today</li>
              <li class="cal-item">
                <p class="time">6:15 AM - 9:15 AM</p>
                <p class="cal-description">Tuesday Morning Blazing Saddle Ride</p>
                <p class="time">8:15 PM - 9:15 PM</p>
                <p class="cal-description">Weekly Maintenance Classes</p>
              </li>
              <li class="list-date">8th January 2013</li>
              <li class="cal-item">
                <p class="time">8:30 AM - 10:20 AM</p>
                <p class="cal-description">Team SpaceCraft Greenbelt Ride</p>
              </li>
              <li class="list-date">10th January 2013</li>
              <li class="cal-item">
                <p class="time">7:15 AM - 11:15 AM</p>
                <p class="cal-description">Thursday Morning Advance Ride</p>
                <p class="time">8:15 PM - 9:00 PM</p>
                <p class="cal-description">Changing Flat Tires</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="line-separator"></div>
        <div class="recent-articles">
          <h1>Recent Articles</h1>
          <h2>Lorem ipsum dolar sit</h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam...</p>
          <a href="#" class="more-link">Read more</a>
          <h2>Lorem ipsum dolar sit</h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam...</p>
          <a href="#" class="more-link">Read more</a>
          <h2>Lorem ipsum dolar sit</h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam...</p>
          <a href="#" class="more-link">Read more</a>
        </div>
      </div> 
    </div>
    <footer>
      <p>&#169; BusinessName</p>
      <ul class="footer-items">
        <li>Contact Us</li>
        <li>Terms of Service</li>
        <li>About Us</li>
      </ul>
    </footer>
    <script src="/vendor.js"></script>
    <script src="/ready.js"></script>
  </body>

</html>


